# Fathom Consulting Trade Analysis Task

#### Excel Sheet:
- The input data is export values (USD thousands) by country and by year across a range of sectors.
    - Note: For the purposes of this task "world" values are assumed to be the sum of all countries listed in the data.
- The output data is the Revealed Comparative Advantage (RCA) of a country's exports in each sector and year.
    - The RCA metric is a measure of a country’s relative specialism of a given export.

#### Task:
- Replicate this methodology in one of the following coding languages: Python, R, SQL (I decided to use Python).
    - The script should read in the input data in the same structure as provided and write out a csv with the output.
- Analyse the data (both input and output) and pick out two insights that you feel are interesting.
    - This could involve further calculations if you think necessary. (Please add these calculations to your script if this is the case)
    - These insights should be presented in a PowerPoint file, with one slide for each insight using visualizations to help

## Script to generate output

### RCA Formula:

Country ***A*** is said to have a revealed comparative advantage in a given product ***i*** when its ratio of exports of product i to its total exports of all goods (products) exceeds the same ratio for the world as a whole.

That is,

<img src="RCA.svg" width="250"/>

- ***P*** is the set of all products (with i∈P)
- ***XAi*** is the country A's exports of product i
- ***Xwi*** is the worlds's exports of product i
- ***Σj∈PXAj*** is the country A's total exports (of all products j in P)
- ***Σj∈PXwj*** is the world's total exports (of all products j in P)

When a country has a revealed comparative advantage for a given product (RCA >1), it is inferred to be a competitive producer and exporter of that product relative to a country producing and exporting that good at or below the world average. A country with a revealed comparative advantage in product i is considered to have an export strength in that product. The higher the value of a country’s RCA for product i, the higher its export strength in product i.

In [12]:
# imports

import pandas as pd
import math

In [13]:
# read in the input data

input = pd.read_excel("Trade analysis task.xlsx", sheet_name='Input - Trade values')

In [14]:
# print the first 5 rows of the data

input.head()

,Country,period,Arms and Ammunition,Building materials,Charges for the use of intellectual property n.i.e,Chemicals and minerals,Clothing and accessories,Construction,Financial services,Food and drink,...,Metals,Other,Other business services,"Personal, cultural, and recreational services",Plastics and rubber,"Telecommunications, computer, and information services",Transport,Transport equip,Travel,TOTAL
0,Afghanistan,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,Albania,2005,504.0,23914.0,1000.0,37395.0,394057.0,3000.0,16000.0,53893.0,...,101756.0,15403.0,57000.0,18000.0,4022.0,74000.0,126000.0,2182.0,854000.0,1823093.0
2,Algeria,2005,NaN,21989.0,NaN,45574415.0,11401.0,167000.0,48000.0,70490.0,...,267077.0,3471.0,637000.0,4000.0,23669.0,96000.0,851000.0,12136.0,184000.0,48508722.0
3,Andorra,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,Angola,2005,40.0,1252.0,49000.0,18561.0,1125.0,NaN,NaN,42598.0,...,1050511.0,3581.0,2000.0,5000.0,190.0,14000.0,18000.0,2008.0,88000.0,1331948.0

In [15]:
# read in the output data

output = pd.read_excel("Trade analysis task.xlsx", sheet_name='Output - RCA')

In [16]:
# print the first 5 rows of the data

output.head()

,Country,period,Arms and Ammunition,Building materials,Charges for the use of intellectual property n.i.e,Chemicals and minerals,Clothing and accessories,Construction,Financial services,Food and drink,...,Machinery,Metals,Other,Other business services,"Personal, cultural, and recreational services",Plastics and rubber,"Telecommunications, computer, and information services",Transport,Transport equip,Travel
0,Afghanistan,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2005,0.691057,0.399797,0.054296,0.114696,4.351126,0.385204,0.551793,0.501356,...,0.066234,0.744650,0.097724,0.703344,3.859203,0.065060,4.771366,1.624175,0.013494,8.973401
2,Algeria,2005,0.000000,0.013816,0.000000,5.253451,0.004731,0.805888,0.062214,0.024645,...,0.001702,0.073454,0.000828,0.295407,0.032231,0.014389,0.232633,0.412269,0.002821,0.072662
3,Andorra,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,2005,0.075070,0.028649,3.641518,0.077922,0.017003,0.000000,0.000000,0.542407,...,0.131018,10.522391,0.031097,0.033779,1.467293,0.004207,1.235551,0.317582,0.016997,1.265620

In [17]:
# create a copy of the data to store our output
generated_output = input.copy()

# drop the columns we don't need, i.e. 'TOTAL'
generated_output.drop(["TOTAL"], axis = 1, inplace = True)

# define 'export_columns' with the names of the 20 export categories
export_columns = input.drop(["Country", "period", "TOTAL"], axis = 1).columns

# calculate the total export value for the world by year
world_total = input.groupby("period")["TOTAL"].sum()

# calculate the RCA for each country and export per year
for idx, row in input.iterrows():

        # store the country and year
        country = row['Country']
        year = row['period']

        # initialize the RCA list
        rca = []
    
        for column in export_columns:
                # defining the variables in the RCA formula
                X_Ai = pd.to_numeric(row[column])
                X_Aj = pd.to_numeric(row["TOTAL"])
                X_Wi = pd.to_numeric(input[column].loc[input["period"] == year]).sum()
                X_Wj = pd.to_numeric(input["TOTAL"].loc[input["period"] == year]).sum()

                # if the denominator is not zero, calculate the RCA
                if X_Aj != 0 and X_Wj != 0:
                        calc = (X_Ai / X_Aj) / (X_Wi / X_Wj)

                        # if the RCA is NaN, set it to 0, as thats whats in the excel output file
                        if math.isnan(calc):
                                calc = 0.0

                # if the denominator for the world calulation is zero, set the RCA to None
                elif X_Aj == 0:
                        calc = None

                rca.append(calc)

        # store the RCA values in the output dataframe
        generated_output.loc[idx, export_columns] = rca

In [18]:
# print the first 5 rows of the generated output

generated_output.head()

,Country,period,Arms and Ammunition,Building materials,Charges for the use of intellectual property n.i.e,Chemicals and minerals,Clothing and accessories,Construction,Financial services,Food and drink,...,Machinery,Metals,Other,Other business services,"Personal, cultural, and recreational services",Plastics and rubber,"Telecommunications, computer, and information services",Transport,Transport equip,Travel
0,Afghanistan,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2005,0.691057,0.399797,0.054296,0.114696,4.351126,0.385204,0.551793,0.501356,...,0.066234,0.744650,0.097724,0.703344,3.859203,0.065060,4.771366,1.624175,0.013494,8.973401
2,Algeria,2005,0.000000,0.013816,0.000000,5.253451,0.004731,0.805888,0.062214,0.024645,...,0.001702,0.073454,0.000828,0.295407,0.032231,0.014389,0.232633,0.412269,0.002821,0.072662
3,Andorra,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,2005,0.075070,0.028649,3.641518,0.077922,0.017003,0.000000,0.000000,0.542407,...,0.131018,10.522391,0.031097,0.033779,1.467293,0.004207,1.235551,0.317582,0.016997,1.265620

In [19]:
# compare the generated output with the expected output

output.equals(generated_output)

False

In [20]:
# lets compare the two dataframes to see where they differ

generated_output.compare(output)

     Arms and Ammunition           Building materials            \
                    self     other               self     other
14                   NaN       NaN                NaN       NaN
206                  NaN       NaN                NaN       NaN
215             3.628112  3.628112           0.429869  0.429869
216                  NaN       NaN           0.010117  0.010117
217             3.080766  3.080766           1.844256  1.844256
...                  ...       ...                ...       ...
2349            0.001242  0.001242                NaN       NaN
2350            0.030553  0.030553                NaN       NaN
2351            0.014952  0.014952                NaN       NaN
2352            3.413364  3.413364                NaN       NaN
2353            0.007992  0.007992                NaN       NaN

     Charges for the use of intellectual property n.i.e            \
                                                   self     other
14                                                  NaN       NaN
206                                                 NaN       NaN
215                                            0.046025  0.046025
216                                            0.003693  0.003693
217                                                 NaN       NaN
...                                                 ...       ...
2349                                                NaN       NaN
2350                                                NaN       NaN
2351                                                NaN       NaN
2352                                                NaN       NaN
2353                                                NaN       NaN

     Chemicals and minerals           Clothing and accessories            ...  \
                       self     other                     self     other  ...
14                      NaN       NaN                      NaN       NaN  ...
206                1.171359  1.171359                      NaN       NaN  ...
215                0.141322  0.141322                 4.186567  4.186567  ...
216                4.946556  4.946556                 0.007696  0.007696  ...
217                0.180017  0.180017                 1.568095  1.568095  ...
...                     ...       ...                      ...       ...  ...
2349               5.530508  5.530508                      NaN       NaN  ...
2350               0.306707  0.306707                      NaN       NaN  ...
2351               0.072547  0.072547                      NaN       NaN  ...
2352               0.329821  0.329821                      NaN       NaN  ...
2353               0.678525  0.678525                      NaN       NaN  ...

     Plastics and rubber            \
                    self     other
14                   NaN       NaN
206                  NaN       NaN
215             0.085394  0.085394
216             0.036667  0.036667
217             0.168748  0.168748
...                  ...       ...
2349            0.028536  0.028536
2350            0.887040  0.887040
2351            0.054840  0.054840
2352            0.073529  0.073529
2353            0.089054  0.089054

     Telecommunications, computer, and information services            \
                                                       self     other
14                                                  NaN           NaN
206                                                 NaN           NaN
215                                            2.654982      2.654982
216                                            0.195267      0.195267
217                                                 NaN           NaN
...                                                 ...           ...
2349                                                NaN           NaN
2350                                                NaN           NaN
2351                                                NaN           NaN
2352                                                NaN           NaN
2353                                                NaN           NaN

     Transport           Transport equip              Travel
          self     other            self     other      self     other
14         NaN       NaN             NaN       NaN       NaN       NaN
206        NaN       NaN             NaN       NaN       NaN       NaN
215   1.729986  1.729986        0.010697  0.010697  9.063114  9.063114
216   0.354246  0.354246        0.002103  0.002103  0.079040  0.079040
217        NaN       NaN        1.652356  1.652356       NaN       NaN
...        ...       ...             ...       ...       ...       ...
2349       NaN       NaN        0.004908  0.004908       NaN       NaN
2350       NaN       NaN        0.213207  0.213207       NaN       NaN
2351       NaN       NaN        0.984794  0.984794       NaN       NaN
2352       NaN       NaN        0.058048  0.058048       NaN       NaN
2353       NaN       NaN        0.043213  0.043213       NaN       NaN

[2038 rows x 40 columns]

<mark> This difference might be because of how excel and python handle precision for floating point decimals </mark>

<mark> Lets check with all the values rounded up for each dataframe </mark>

In [21]:
# lets check if the two dataframes are equal, when rounded to 2 decimal places

output.round(2).equals(generated_output.round(2))

True

<mark> We have successfully generated an output thats the same as the one in the excel sheet, now lets export the data frame into an excel sheet

In [22]:
# export the output to an excel file

generated_output.to_excel("generated_output.xlsx", index=False)

<mark> Now this generated excel sheet may look different, i.e the values dont appear rounded like in the output excel sheet, and the zeroes do not show up as "0.00" </mark>

<mark> But we can see they are the exact same from the above .equals code </mark>

<mark> If we wanted to, we could use a f string to convert the zeroes into 0.00 and round all the values up to 2 decimals, but this would make a difference in what the actual values are in the excel sheet</mark>